// colors
$basic: white;
$basic-contract: rgba(0, 0, 0, 0.87);
$primary: #673ab7;
$primary-contrast: rgba(255, 255, 255, 0.87);
$accent: #ffd740;
$accent-contrast: rgba(0, 0, 0, 0.87);
$warn: #f44336;
$warn-contrast: white;

// variables
$navbar-height: 64px;
